{% for social in site.social -%}
  {% if social.handle -%}
    <a
      href='https://{{ social.platform | downcase }}.com/{{ social.handle }}'
      title='{{ social.handle }} on {{ social.platform }}'
      target='_blank'
      rel='noopener'
      class='home-landing__social-links home-landing__social-links--deco'
    >
      {% for item in site.data.social_icons -%}
        {% assign requested = item.platform | downcase -%}
        {% assign supported = social.platform | downcase -%}
        {% if requested == supported -%}
          <i class='{{ item.icon }} fa-2x'></i>
        {% endif -%}
      {% endfor -%}
    </a>
  {% endif -%}
{% endfor %}
